.Banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/imagenesbatman.appspot.com/o/aja.png?alt=media&token=b029c8ac-b8f8-4462-9b5b-868495fb6c3c");
    padding: 20% 25% 20% 10%;
    background-position: top center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}